.numberClass {
  width: 37px;
  aspect-ratio: 1/1;
  text-align: center;
  color: azure;
  background-color: rgb(108, 4, 4);
  display: inline-block;
  border: 1px solid rgb(53, 0, 53);
  font-size: 1em;
  line-height: 200%;
  border-radius: 4px;
}
#bingoBoard {
  width: 50%;
  margin-inline: auto;
}
h1 {
  text-align: center;
  color: darkblue;
  margin-block: 2em;
}
#buttons {
  text-align: center;
  margin-bottom: 1em;
}
#playerBoard {
  width: 50%;
  margin-inline: auto;
  margin-top: 4em;
}
.selectedNumberClass {
  width: 37px;
  aspect-ratio: 1/1;
  text-align: center;
  color: azure;
  background-color: rgb(53, 0, 53);
  display: inline-block;
  border: 1px solid rgb(108, 4, 4);
  font-size: 1em;
  line-height: 200%;
  border-radius: 4px;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main-board {
  width: 798px;
}

.user-board {
  width: 504px;
  margin-bottom: 24px;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.t-center {
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 5px;
  background-color: #d8cccc;
  border: none;
}

.input-field {
  width: 10%;
  margin-top: 20px;
  padding: 5px;
}

input:focus {
  outline: none;
}

.highlight {
  background-color: #d8cccc;
} */
